html,body{
    background-image: url("backgroundGradient.jpg");
    background-size: cover;
    font-size: 20px;
    margin: 0;
}

header a{
    display: inline-block;
    margin: 10px 15px;
    text-align: right;
}

header{
    text-align: right;
}

.profile-pic{
    border-radius: 50%;
    margin-right: 30px;
    margin-left: 20px;
    width:180px;
}

.intro {
    display: flex;
    justify-content:start;
    padding: 10px;
    border-bottom: 1px rgb(190, 206, 213) solid;
}

.projects-container{
    margin-bottom: 50px;
}

.project-header {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    border: 1px gray solid;
    border-radius: 5px;
}

.description {
    padding-left: 10px;
}

.preview-pic{
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer{
    text-align: center;
    padding-bottom: 50px;
}



